.abc{background: #399;color:rgb(179, 32, 51)}
.box{height:100px;transition: .5s ease all}
input[type=button] {
    display: inline-block;
    width: 100px;
    height: 50px;
    display:flex;
    justify-content: space-around;
    border: 1px #ccc solid;
    text-align: center;
    margin: 20px 0;
}